# Treat .cpp and .h as C++
*.cpp linguist-language=C++
*.c   linguist-language=C++
*.h   linguist-language=C++
*.hpp linguist-language=C++

# GLSL shaders
*.vs  linguist-language=GLSL
*.fs  linguist-language=GLSL
*.vert linguist-language=GLSL
*.frag linguist-language=GLSL

# Ignore certain files from stats
build/* linguist-vendored
*.exe  linguist-vendored
